*{
    margin:0px;

    box-sizing: border-box;
}
.hero-container{
    width:100vw;
    height: 80vh;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        180deg,
        rgba(9, 8, 8, 0.5),
        rgba(0, 0, 0, 1) 85%),url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");  
    padding:50px;
    position: relative;
}

.header-container{
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:20px
}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center    
}

.burger-menu{
    display: block;
    background-color: white;
    width: 30px;
    height:3px;
    margin:5px;    
}
#short{
    width:20px;
}

.navbar-1{
    display: flex;
    gap:20px
}

.logo-img{
    width:150px;

}
.logo-img img{
    width:100%;
}

.search-button{
    width:120px;
    height:30px;
    background-color: none;
}

.navbar-2{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.social-links{
    display: flex;
    gap:10px;
}
.opacity05{
    color: white;
    opacity: 50%;
}
.next-article{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px !important;
    color:white;
    font-size: 20px;
}
.chip{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight:500px;
    color:#fff;
    font-size: 1.26rem;
    padding: 8px 18px;
    border-radius: 30px;
    margin-left: 10px;

    
}
.blue-dot{
    color: blue;
    height:1px;
    width:1px
}
.fixed{
    margin-top: -100px;
}

.this_week_articles{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.med-content{
    width:100%;
    height:80%;
    display:flex;
    gap:100px;
    justify-content: center;
    align-items: center;
    /* margin:auto;
    margin-top:50px; */
}

.content-image{
    width:40%;
    height:70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg");
    border-radius: 30px;
    margin-right: 0%;

}

.content-article{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:40%;
    height: 80%;
}

.content-article .new{
    font:10px;
    color:blue
}
.content-article h1{
    font-size: 32px;
    color: #fff;
}

.content-article .big-title{
    font-size: 32px;
    color:white;
    font-weight: 600;
}

.article-container{
    width: 231px;
    height:342px;
    border: 1px solid yellow;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.lead{
    display:flex;

    align-items: center;
}

.icon{
    display: flex;
    justify-content: space-between;
}


/* .this_week_articles p{
    font-size: 32px;
    color:white;
}  */
.slider-nav{
    background-color: gray;
    width:60px;
    text-align: center;
    border-radius: 10px;
}
.this_week_boxes{
    max-width:1624px;
    height:550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
  /* overflow: hidden; */
    gap: 20px;
    margin: auto;
    margin-top: -200px;
    position: relative;    
}

.box_box-1{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.author_info_left{
    width:739px;
    height:50px;
    background-color: #fafafa;
    display: flex;
    gap:20px;
    margin: auto;
    
}

.author_img{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.article-left{
    width:739px;
    height:138px;
    display:flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    padding:5px;
    margin:auto


}

.dot{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: blue;
}

.art_img{
    width:135px;
    height:135px;
    border-radius:50%;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/08c0d0c8d5ccb207e5382dd263de6444.jpg");
    background-size: cover;
    background-position: center;
}
.article-right{
    width:739px;
    height:138px;
    display:flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding:5px;
    margin: auto;
}
.author_info_right{
    width:739px;
    height:50px;
    background-color: #fafafa;
    display: flex;
    align-self: flex-end;
    gap:20px;
    margin: auto;    
}

.data_date{
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 100px;
    color: #888888;
}

.item{
    padding:20px;
    text-align: center;
    border:1px solid black
}
.container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:10px;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.item_cart_1{
   grid-column: 1/3;
   grid-row: 1/3;
   width:548px;
   height:361px;
   background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/c61d50c4db647b5939503c71d2cb90be.jpg");
   border-radius: 20px;
}

.item_cart_4{
    width:264px;
    height:323px;
    grid-row: 2 span;
    background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/ceeea287bfedd20b61f06a236854b5ac.jpg");
    background-size: cover;
    border-radius: 20px;
}

.item_cart_5{
    grid-row: 2 span;
    width:264px;
    height:323px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/bae4a1bc2f0c3265addd5badd790488e.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.item_cart_6{
    width: 264px;
    height:234px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/87c6713d7876ac1899e20c13ac8b1974.jpg");
    background-size: cover;
    border-radius: 20px;
}
.item_cart_7{
    width:264px;
    height:234px;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/12e9783329d71a9f343d203c052e4d98.jpg");
    background-size: cover;
    border-radius: 20px;
}

.item_cart_2{
    width:264px;
    height:271px;
    background-image: url("https://unread.today/files/44/75288f9a6f654884726db5e0458cbdef.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.item_cart_3{
    width:264px;
    height:271px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/9dc16b608bc499d627cb6675b231a0ff.png");
    background-size: cover;
    border-radius: 20px;
}
