*{
    margin:0px;

    box-sizing: border-box;
}
.hero-container{
    width:100vw;
    height: 80vh;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        180deg,
        rgba(9, 8, 8, 0.5),
        rgba(0, 0, 0, 1) 85%),url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");  
    padding:50px;
    position: relative;
}

.header-container{
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:20px
}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.burger-menu{
    display: block;
    background-color: white;
    width: 30px;
    height:3px;
    margin:5px;
    
}
#short{
    width:20px;
}

.navbar-1{
    display: flex;
    gap:20px
}

.logo-img{
    width:150px;

}
.logo-img img{
    width:100%;
}

.search-button{
    width:120px;
    height:30px;
    background-color: none;

}

.navbar-2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-links{
    display: flex;
    gap:10px;

}
.opacity05{
    color: white;
    opacity: 50%;
}
.next-article{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px !important;
    color:white;
    font-size: 20px;
}
.chip{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight:500px;
    color:#fff;
    font-size: 1.26rem;
    padding: 8px 18px;
    border-radius: 30px;
    margin-left: 10px;

    
}
.blue-dot{
    color: blue;
    height:1px;
    width:1px
}

.med-content{
    width:90%;
    height:50%;
    display:flex;
    gap:100px;
    margin:auto;
    margin-top:50px;
}

.content-image{
    width:40%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg");
    border-radius: 30px;
    margin-right: 0%;

}

.content-article{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:40%;
    height: 80%;
}

.content-article .new{
    font:10px;
    color:blue
}
.content-article h1{
    font-size: 32px;
    color: #fff;
}

.content-article .big-title{
    font-size: 32px;
    color:white;
    font-weight: 600;
}

.this-week{
    position: relative;
    margin:auto;
    width:1300px
    
}

.row{
    width:1600;
    height:496;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    position: absolute;
    top: -150px;
    /* margin-left: 40px;
    margin-right: 40px; */
   

}
.article-container{
   width: 231px;
    height:342px;
    border: 1px solid yellow;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.lead{
    display:flex;

    align-items: center;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.this_week_articles{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.this_week_articles p{
    font-size: 32px;
    color:white;
} 
.slider-nav{
    background-color: gray;
    width:60px;
    text-align: center;
    border-radius: 10px;
}
.this_week_boxes{
    max-width:1624px;
    height:550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 20px;
    margin: auto;
    margin-top: -200px;
    position: relative;
    
}


.box_box-1{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container_artciles{
    width: 80%;
    margin: auto;
    background-color: yellow;
}
.author_img{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-image: url("https://unread.today/files/profile/aea2b15a61878174b3ccd1b207eefea2.JPG");
    background-size: cover;
    background-position: center;
}

.article{
    width: 70%;
    border: 2px solid red;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.content_1{
    display: flex;
    gap:20px;
    background-color: blueviolet;
}