*{
    margin:0px;

    box-sizing: border-box;
}
.hero-container{
    width:100vw;
    height: 80vh;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        180deg,
        rgba(9, 8, 8, 0.5),
        rgba(0, 0, 0, 1) 85%),url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");  
    margin: auto;
    padding: 40px;
    position: relative;
}

.header-container{
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:20px
}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center    
}

.burger-menu{
    display: block;
    background-color: white;
    width: 30px;
    height:3px;
    margin:5px;    
}
#short{
    width:20px;
}

.navbar-1{
    display: flex;
    gap:20px
}

.logo-img{
    width:150px;

}
.logo-img img{
    width:100%;
}

.search-button{
    width:120px;
    height:30px;
    background-color: none;
}

.navbar-2{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.social-links{
    display: flex;
    gap:10px;
    color:rgba(256,256, 256, 0.5)
}
.fa-facebook:hover{
    color:blue
}
.fa-instagram:{
    color:rgb{ 254,218,117 } ;
}
.fa-twitter:hover{
    color: rgb(29 161 242);
}
.fa-linkedin:hover{
    color:rgb(10, 102, 194)
}

.opacity05{
    color: white;
    opacity: 50%;
}
.next-article{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px !important;
    color:white;
    font-size: 20px;
}
.chip{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight:500px;
    color:#fff;
    font-size: 1.26rem;
    padding: 8px 18px;
    border-radius: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px

    
}
.blue-dot{
    width: 7px;
    height:7px;
    background-color: blue;
    border-radius: 50%;
    animation: blink 2s linear infinite;
}
@keyframes blink {
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}
.fixed{
    margin-top: -100px;
}

.med-content{
    width:100%;
    height:80%;
    display:flex;
    gap:100px;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* margin:auto;
    margin-top:50px; */
}

.content-image{
    width:40%;
    height:70%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg");
    border-radius: 30px;
    /* margin-right: 0%; */
    transition: all 0.5s ease-in-out;
}
.content-image:hover{
    /* transform: scale(1.1); */
    background-size: 130%;   
}

.content-article{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:40%;
    height: 80%;
}

.content-article .new{
    font:10px;
    color:blue;
    animation: blink 2s linear infinite;
    
}
.content-article h1{
    font-size: 32px;
    color: #fff;
}

.content-article .big-title{
    font-size: 32px;
    color:white;
    font-weight: 600;
}

.article-container{
    width: 231px;
    height:342px;
    border: 1px solid yellow;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.lead{
    display:flex;

    align-items: center;
}

.icon{
    display: flex;
    justify-content: space-between;
}


/* .this_week_articles p{
    font-size: 32px;
    color:white;
}  */
.slider-nav{
    background-color: gray;
    width:60px;
    text-align: center;
    border-radius: 10px;
}
/* .this_week_articles{
    display: flex;
    color:red;
    border:1px solid yellow;
} */
.this_week_boxes{
    max-width:1624px;
    height:550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 20px;
    margin: auto;
    margin-top: -200px; 
    position: relative;     
} 
.this_week_boxes p{
    border:1px solid yellow;
    color:red;
    margin: auto;
    margin-bottom: 50px;
}

.box_box-1{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box_box-2{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/15a4d73f3036b08a1028138defbaf63e.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.box_box-3{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/12e9783329d71a9f343d203c052e4d98.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.box_box-4{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/0f9eacff441cfc4602498a98f5946f9f.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box_box-5{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/bae4a1bc2f0c3265addd5badd790488e.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box_box-6{
    width:294px;
    height:434px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/87c6713d7876ac1899e20c13ac8b1974.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}



.author_info_left{
    width:739px;
    height:50px;
    background-color: #fafafa;
    display: flex;
    gap:20px;
    margin: auto;
    
}

.author_img{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.article-left{
    width:739px;
    height:138px;
    display:flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    padding:5px;
    margin:auto
}
.article-left:hover{
    box-shadow: 18px -12px 26px -11px rgba(0,0,0,0.75); 
}
.container_artciles_left:hover{
    translate: 0 -10px;
}

.dot{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: blue;
}

.art_img{
    width:135px;
    height:135px;
    border-radius:50%;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/08c0d0c8d5ccb207e5382dd263de6444.jpg");
    background-size: cover;
    background-position: center;
}
.article-right{
    width:739px;
    height:138px;
    display:flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding:5px;
    margin: auto;
}
.author_info_right{
    width:739px;
    height:50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap:20px;
    margin: auto;    
}

.background{
    width:100%;
    height:100%;
    background-color: yellow;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 100px;
    
}
/* .data_week_date{
    border:1px solid red;
    width:1200px;
    border-top:none;
    border-left: none;
    border-right: none;
    align-items: center;
}
.data_date{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    color: #888888;
    border:1px solid black
    
}
.week{
    border:1px solid blue;
    width:max-content;
    height:100px;
    border-top:none;
    border-left: none;
    border-right: none;
}
week:hover{
    
} */
.week{
    display: flex;
    width:1200px;
    justify-content: space-between;
    height:50px;
    border-top:none;
    border-left: none;
    border-right: none;
}
.week-2{
    justify-content: center;
}
.week-3{
    justify-content: center;
}
.week-4{
    justify-content: flex-end;
}
.data_week_date{
    border:1px solid gray;
    width: 1200px;
    margin: auto;
    border-top:none;
    border-left: none;
    border-right: none;
}

.item{
    padding:20px;
    text-align: center;
    border:1px solid black
}
.container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:10px;
    /* margin-top: 30px; */
    /* margin-left: 30%;
    margin-right: 30%; */
    width:1200px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 100px;
}

.item_cart_1{
    grid-column: 1/3;
    grid-row: 1/3;
    width:548px;
    height:361px;
    background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/c61d50c4db647b5939503c71d2cb90be.jpg");
    border-radius: 20px;
}

.item_cart_4{
    width:264px;
    height:323px;
    grid-row: 2 span;
    background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/ceeea287bfedd20b61f06a236854b5ac.jpg");
    background-size: cover;
    border-radius: 20px;
}

.item_cart_5{
    grid-row: 2 span;
    width:264px;
    height:323px;
    background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/bae4a1bc2f0c3265addd5badd790488e.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.item_cart_6{
    width: 264px;
    height:234px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/87c6713d7876ac1899e20c13ac8b1974.jpg");
    background-size: cover;
    border-radius: 20px;
}
.item_cart_7{
    width:264px;
    height:234px;
    background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/12e9783329d71a9f343d203c052e4d98.jpg");
    background-size: cover;
    border-radius: 20px;
}

.item_cart_2{
    width:264px;
    height:271px;
    background-image: url("https://unread.today/files/44/75288f9a6f654884726db5e0458cbdef.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.item_cart_3{
    width:264px;
    height:271px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/9dc16b608bc499d627cb6675b231a0ff.png");
    background-size: cover;
    border-radius: 20px;
}
.container_1{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:10px;
    /* margin-top: 30px; */
    /* margin-left: 30%;
    margin-right: 30%; */
    width:1200px;
    margin: auto;
    margin-bottom: 50px;
    
}
.container_2{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:10px;
    /* margin-top: 30px; */
    /* margin-left: 30%;
    margin-right: 30%; */
    width:1200px;
    margin: auto;
    
}

footer{
    width:100%;
    height:750px;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    padding: 40px;
    margin-top: -50px;
    position: absolute;
    z-index: -1;
}
.foot_logo{
    width:140px;
    height:20px;
    background-image: url("https://unread.today/files/site_meta/b809740220f5b5b4749e697e42df987b.png");
    background-size: cover;
    background-position: center;    
}

.btn-1{
    width: 323px;
    height:90px;
    color: white;
    background-image: url("https://unread.today/img/btn-black.png");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-2{
    width: 323px;
    height:90px;
    color: white;
    background-image: url("https://unread.today/img/btn-black.png");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.google{
    width:144px;
    height:45px;
    background-image: url("https://unread.today/img/app_android.png");
    background-size: cover;
}
.apple{
    width:144px;
    height:45px;
    background-image: url("https://unread.today/img/app_ios.png");
    background-size: cover;
}
.social_form{
    display: flex;
    gap:20px
}

.footer_nav{
    display: flex;
    color:#fafafa
}
.unread_law{
    color:#fafafa
}

.corner{
    width:189px;
    height: 284px;
    color: #fafafa;
}
.continue{
    width:189px;
    height: 284px;
    color:#fafafa
}

.company{
    width:189px;
    height:284px;
    color: #fafafa;
}
.flex{
    display: flex;
}
.second_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.first_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.end{
    display: flex;
    justify-content: space-evenly;
}